
.div-popup{
    width: 100%;
    height: 100vh;
    background-color: white;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 999;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    display: none;
}
.div-popup > nav{
    max-width: 1280px;
    background-color: transparent;
    padding: 10px 0px 30px;
    box-sizing: border-box;
}


/* Header */
.div-popup .div-popup-header{
    max-width: 1280px;
}
.div-popup #cover{
    width: 100%;
    height: 500px;
    background-color: blue;
    background-image: url(../img/pictures/bts_cover.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.div-popup #close{ 
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: white;
    color: var(--secondary); 
    cursor: pointer;
    position: sticky;
    top: 0%;
    left: 0%;
    z-index: 999;
}
.div-popup #close:hover{ 
    color: var(--primary);
    text-decoration: underline;
}


/* Header */
.div-popup .div-title-button{
    margin: 30px 0px 20px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}
.div-popup #title{
    font-size: 40px;
    margin: 0px;
}
.div-popup #type{
    font-size: 14px;
    color: #ccc;
}
.div-popup button{
    width: 200px;
    height: 45px;
    font-size: 16px;
    color: white;
    background-color: var(--primary);
    border: unset;
    border-radius: 3px;
    align-self: self-start;
    transition: 0.2s;
}
.div-popup button:hover{
    background-color:  #005f37;
    color: white;
    border: 1px solid var(--primary);
}
.div-popup button:active{
    opacity: 50%;    
}

.div-popup #overview{
    width: 100%;
    font-size: 20px;
    margin-bottom: 50px;
}

.div-popup .div-information{
    width: 100%;
    margin: 50px 0px;
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
}
.div-information > div{
    min-width: 150px;
    background-color: white;
    column-gap: 5px;
    row-gap: 5px;
    flex: 1;
}
.div-information h3{
    color: black;
    font-weight: 700;
}
.div-information ul{
    list-style-type: none;
    padding: 0;
    color: var(--secondary);
}
.div-information .line{
    width: 75px;
    height: 5px;
    background-color: var(--primary);
}

.div-popup .div-prototype{
    width: 100%;
    height: 500px;
    padding: 20px;
    background-color: white;
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
    column-gap: 20px;
}
.div-prototype .model{
    min-width: 200px;
    height: 100%;
    padding: 13px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-image: url(../img/sample/bts.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
}
.div-prototype .model2{
    min-width: 800px;
    height: 100%;
    padding: 13px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-image: url(../img/pictures/bts_cover.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
}

.project-footer {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.project-footer #viewMore{
    color: var(--link);
    cursor: default;
}
.project-footer #viewMore:hover{ text-decoration: underline; }
.project-footer #viewMore:active{ opacity: 50%; }
.project-footer .nextProject{
    color: black;
    font-weight: 500;
    font-size: 20px;
    margin: 10px 0px 5px;
    cursor: default;
}
.project-footer .nextProject:hover{ 
    color: var(--primary); 
    text-decoration: underline;
}
.project-footer .nextProject:active{ opacity: 50%; }
.project-footer .qr_code {
    width: 150px;
    height: 150px;
    background-image: url(../img/sample/qr_gcash_qr.png);
    background-position: center;
    background-size: cover;
}


@media only screen and ( max-width:1280px) {
    
    .div-popup { width: 100%; height: 100vh; padding: 0px 5px; }
    .div-popup > nav{
        width: 90%;
        box-sizing: border-box;
    }
    
    .div-popup #close { font-size: 12px;}
    .div-popup #cover{
        height: 250px;
        box-sizing: border-box;
    }
    .div-popup .div-prototype{
        width: 100%;
        height: 250px;
    }
    .div-prototype .model{
        min-width: 100px;
    }
    .div-prototype .model2{
        min-width: 400px;
    }
    .div-popup .div-title-button { display: block;}
    .div-popup #title{ font-size: 18px;}
    .div-popup #type{ font-size: 10px;}
    .div-popup #overview{ font-size: 12px;}
    .div-popup button{
        width: 100px;
        height: 25px;
        font-size: 12px;
        color: white;
        background-color: var(--primary);
        border-radius: 3px;
        align-self: self-start;
    }
    .div-popup .div-popup-header{ width: 100%;}

    
    .div-information h3{
        color: black;
        font-weight: 700;
        font-size: 13px;
    }
    .div-information ul{
        list-style-type: none;
        padding: 0;
        color: var(--secondary);
        font-size: 12px;
    }
    .div-information .line{
        width: 15px;
        height: 3px;
        background-color: var(--primary);
    }
    .project-footer { font-size: 11px;}
    .project-footer .nextProject { font-size: 14px;}
    .project-footer .qr_code {
        width: 120px;
        height: 120px;
    }
}